* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body {
font-family: Arial, sans-serif;
color: #30302e;
background: #f7f6f2;
}

header {
height: 90px;
padding: 0 6%;
background: white;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-family: Georgia, serif;
font-size: 19px;
letter-spacing: 1px;
}

nav {
display: flex;
gap: 38px;
}

nav a {
color: #444;
text-decoration: none;
text-transform: uppercase;
font-size: 10px;
letter-spacing: 2px;
}

.hero {
height: calc(100vh - 90px);
background-image: linear-gradient(rgba(0,0,0,.18), rgba(0,0,0,.18)), url("hero.jpg");
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: white;
}

.hero-text p {
font-size: 10px;
letter-spacing: 5px;
margin-bottom: 18px;
}

.hero-text h1 {
font-family: Georgia, serif;
font-size: 70px;
font-weight: normal;
}

.hero-text span {
display: block;
margin-top: 15px;
font-size: 10px;
letter-spacing: 4px;
text-transform: uppercase;
}

.intro {
padding: 130px 20px;
text-align: center;
}

.small-title {
font-size: 9px;
letter-spacing: 4px;
margin-bottom: 25px;
}

.intro h2,
.horses h2,
.about h2,
.contact h2 {
font-family: Georgia, serif;
font-size: 50px;
font-weight: normal;
}

.intro-description {
max-width: 600px;
margin: 35px auto 0;
line-height: 2;
color: #73736f;
font-size: 14px;
}

.horses {
padding: 120px 7%;
background: white;
text-align: center;
}

.horse-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 30px;
margin-top: 60px;
}

.horse-photo {
width: 100%;
height: 480px;
object-fit: cover;
object-position: center;
display: block;
}
.moncler {
object-position: 40% center;
}

.nodoubt {
object-position: 50% center;
}

.saintlaurent {
object-position: 50% center;
}

.nameofthegame {
object-position: 50% center;
}

.horse-card h3 {
font-family: Georgia, serif;
font-size: 25px;
font-weight: normal;
margin-top: 22px;
}

.horse-card p {
margin-top: 8px;
color: #777;
font-size: 9px;
letter-spacing: 2px;
text-transform: uppercase;
}

.about {
padding: 140px 20%;
background: #dedbd4;
text-align: center;
}

.about > p:last-child {
max-width: 650px;
margin: 35px auto 0;
line-height: 2;
color: #5e5e5b;
}

.contact {
padding: 130px 20px;
text-align: center;
}

.contact > p:not(.small-title) {
margin-top: 25px;
color: #777;
}

.contact-button {
display: inline-block;
margin-top: 35px;
padding: 17px 30px;
border: 1px solid #333;
color: #333;
text-decoration: none;
font-size: 9px;
letter-spacing: 2px;
text-transform: uppercase;
}

footer {
padding: 35px;
background: #252525;
color: #aaa;
text-align: center;
font-size: 9px;
letter-spacing: 2px;
}

@media (max-width: 750px) {
header {
height: auto;
padding: 25px;
flex-direction: column;
gap: 20px;
}

nav {
gap: 18px;
}

.hero {
height: 75vh;
}

.horse-grid {
grid-template-columns: 1fr;
}

.about {
padding: 100px 30px;
}
}